NEXT_PUBLIC_DOC_URL=
NEXT_PUBLIC_DISCORD_URL=
NEXT_PUBLIC_GITHUB_URL=
NEXT_PUBLIC_API_SERVER_STATS_URL="https://api.mcsrvstat.us/3"

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
